:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --fon-footer: #2f303a;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;

  font-family: Roboto, sans-serif;
}

/*цвет заголовков 212121*/
/* акцент 2196F3 */
/*лого 000000 */
/*белый цвет FFFFFF*/
/* фон шапки FFFFFF */
/*E5E5E5*/
/* social link AFB1B8*/

/* header */

.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
}

.logo span {
  color: #000000;
}
.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.site-nav .link {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.list-tel,
.list-email {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.list-tel:hover,
.list-email:hover,
.list-tel:focus,
.list-email:focus {
  color: var(--accent-text-color);
}

/* hero*/

.hero-title {
  letter-spacing: 0.06em;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  text-transform: uppercase;
}
.botton {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

/* section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.advantages .title {
  font-weight: ;
  font-size: 14px;
  line-height: 1.14;
}

.advantages p {
  font-size: 14px;
  line-height: 1.71;
}

.item-social-link:hover,
.item-social-link:focus {
  color: var(--accent-text-color);
}

.list .title {
  color: var(--title-text-color);
}

/* commands */
.social-link a {
  color: #afb1b8;
}
.comand .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.comand p {
  font-size: 16px;
  line-height: 1.19;
}

/* footer */
.footer {
  background-color: var(--fon-footer);
  color: var(--primary-white-color);
}
.footer span {
  color: var(--primary-white-color);
}
.footer .logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.addres {
  font-size: 14px;
  line-height: 1.71;
}
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}
.footer h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.developer {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

.footer > .botton {
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

/* portfolio */
.botton-radio {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.botton-radio:hover,
.botton-radio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}

.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.discription {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  font-size: 18px;
  line-height: 1.56;
}
