:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --fon-footer: #2f303a;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}

/*цвет заголовков 212121*/
/* акцент 2196F3 */
/*лого 000000 */
/*белый цвет FFFFFF*/
/* фон шапки FFFFFF */
/*E5E5E5*/
/* social link AFB1B8*/

/* header */

.logo {
  color: var(--accent-text-color);
}

.logo span {
  color: #000000;
}
.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.list-tel,
.list-email {
  color: var(--primary-text-color);
}

.list-tel:hover,
.list-email:hover,
.list-tel:focus,
.list-email:focus {
  color: var(--accent-text-color);
}

/* hero*/

.botton {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}

/* section */
.section-title {
  color: var(--title-text-color);
}

.list .title {
  color: var(--title-text-color);
}

/* commands */
.social-link a {
  color: #afb1b8;
}

/* footer */
.footer {
  background-color: var(--fon-footer);
  color: var(--primary-white-color);
}
.footer .link {
  color: var(--primary-white-color);
}
.footer .logo {
  color: var(--accent-text-color);
}
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}
.developer {
  color: rgba(255, 255, 255, 0.4);
}
